body{
  margin:40px;
}

nav ul{
  margin:0;
}

nav ul li{
  display: inline;
}

nav ul li a{
  color: whitesmoke;
}

.site{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #fff;
  color: #444;
}

.nested{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: minmax(10px, auto);
}

.nested > article{
  padding: 0.25em;
}

.box{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  font-size: 120%
}

.header{
  grid-column: 1 / 5;
  grid-row: 1;
  background-color: rgb(83,161,34);
}

.sidebar{
  grid-column: 5;
  grid-row: 1 / 3;
    background-color: rgb(244,0,89);
}

.main-area{
  grid-column: 1 / 4;
  grid-row: 2;
}

.sidfot{
  grid-column: 1/span 5;
  grid-row: 3;
  background-color: rgb(95,119,143);
}

.annonser{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: minmax(50px, auto);
  grid-column: 4;
  grid-row: 2;
  grid-auto-rows: auto;
  grid-gap: 1px;
  background-color: rgb(184,56,01);
  color: #fff;
  font-size: 1.8em;
  text-align: center;
}
