.huvudbild{
  width: 70em;
  height: 20em;
  max-width:100%;
  max-height: 20%;
  border:2px solid black;
  display:block;
  object-fit:cover;
  margin-left:auto;
  margin-right:auto;

}
body{
  font-family:monospace;
  background-color:#dddddd;
  margin-left:10em;
  margin-right:10em;

}

h1{
  font-size:3em;
  text-align:center;
  font-family:Times new roman;
  color:#63748e;
  font-weight:bold;
  padding:20px;
}
h2{
  font-size:2em;
  font-weight:bold;
  color:grey;
}
p{
  font-family:Times new roman, serif;
  font-size:12pt;
}
.lankar2{
  display:inline;
  font-family:arial;
  font-weight:bold;
}

#p1{
  font-weight:bold;
  color:#74a1e8;
  font-family:verdana;
  font-size:1.1em;
}
#p2{
  font-style:italic;
  color:#63748e;
  font-family:monospace;
  font-size:1em;
}
.fettext{
  font-weight:bold;
}
figcaption{
  padding-left:1.5em;
  font-style:italic;
}
#minibildcaption{
  margin-left:12.1em;
  font-style:italic;
}
#photo{
  width: 50em;
  height: 20em;
  display:block;
  margin-left:auto;
  margin-right:auto;
  object-fit:none;
  box-shadow: 0.2em 0.4em;
}
ol #idli1{
  color:grey;
}
div p.p3{
  color:pink;
}
/*section p.p3{*/
  color:grey;
}
