/* Start grid */
.site-wrapper{
  display: grid;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90px auto 50px 1fr 45px;
  grid-template-areas:
  "h  n  n  n"
  "hb hb hb hb"
  "f  f  f  f";
}
/* End grid */

/* Mobile screen grid settings */
@media screen and (max-width: 600px) {
  .site-wrapper{
    grid-template-columns: 100%;
    grid-template-rows: 80px 100px auto auto auto auto 60px;
    grid-template-areas:
    "h"
    "n"
    "hb"
    "f";
  }
}
/* End of mobile grid settings */

.site-nav, .site-sidebar, .site-artikel, #site-footer {
  background-color: #c4f1e3;
}

.link-active a:visited{
  color: #9f8d68;
}

.site-huvudbildcenter img{
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 400px;
}

.huvudbildgrid {
  grid-area: hb;
}

.site-huvudbildstext{
  position: relative;
  color:  black;
  text-align: center;
}

.site-textoverlay{
  border: 5px solid white;
  border-radius: 10px;
  padding: 20px;
  font-family: "Monospace", sans-serif;
  font-size: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
