body{
  background-color: white;
}

/* Start grid */
.site-wrapper{
  display: grid;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 200px;
  grid-template-rows: 90px 1fr 1fr 45px;
  grid-template-areas:
  "h n n n"
  "b b b ny"
  "c c c s"
  "f f f f";
}
/* End grid */

/* Settings for dekstop navigation */
.site-nav li{
    display:inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 0.4em 1em 0em 0em;
}
/* Nested grid for site.artikel */
.nested{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: minmax(10px, auto);
  grid-template-rows: 1px auto;
}

/* Settings for mobile and smaller screens.
Including mobile layout settings for navigation
and site-artikel nested grid and layout fixes for content*/
@media screen and (max-width: 600px) {
  .site-wrapper{
    grid-template-columns: 100%;
    grid-template-rows: 80px 100px auto auto auto auto 60px;
    grid-template-areas:
    "h"
    "n"
    "b"
    "ny"
    "c"
    "s"
    "f";
  }
.site-nav ul{
    text-align: center;
    padding: 0em 0em 0em 0em;
  }
  .nested{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: minmax(10px, auto);
  }

  .site-artikelh2{
    text-align: center;
  }
  .site-artiklar{
   margin-top: 0.8em;
  }
  .site-blogpost{
    text-align: left;
  }
}
/*End of mobile settings */

#site-header a{
  color: white;
  text-decoration: none;
}

#site-header a:hover{
  color: #827c6f;
}

#site-header{
  grid-area: h;
  font-family: "Open Sans", sans-serif;
  background-color: #424242;
  letter-spacing: 0.2em;
  padding: 0px 10px 0px 10px;
}

.site-logo{
  text-align: center;
  font-size: 2em;
}

.site-nav a:link{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.site-nav a:visited{
  color: #000;
}

.site-nav a:link:hover{
  color: #827c6f;
}

.site-nav a:visited:hover{
  color: #827c6f;
}

.site-nav{
  grid-area: n;
  background-color: #d3dae5;
  font-size: 1.2em;
}

.site-artikel{
  grid-area: c;
  font-family: "Open Sans", sans-serif;
  background-color: #d3dae5;
  padding-top: 30px;
}

.site-artikelbild{
  float: left;
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 500px;
  padding-bottom: 5px;
}

/* Article figure reset */
.site-artikelfigure{
  padding:0;
  margin:0;
}

/* Blog */
.site-sidebar{
  grid-area: s;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #d3dae5;
  text-align: center;
}

.site-blogpost{
  text-align: left;
}

/* Nested grid for blog */
.site-sidebarnested{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.nested-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: minmax(10px, auto);
}

/* Header picture settings */
.site-huvudbild{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 500px;

}

/* Header picture grid settings */
.site-huvudbildcenter{
  grid-area: b;
  margin: 0 0 -4px 0;
  padding: 0;
}

/* News sidebar beside Header image */
.site-nyheter{
  grid-area: ny;
  background-color: #d3dae5;
  display: block;
  font-family: "Open Sans", sans-serif;
}

.site-nyheter > h2{
  text-align: center;
}

/* news sidebar settings */
.site-nyheterarticle{
padding: 10px;
}

/* Articles content settings */
.site-artiklar{
  padding: 1em;
}

.site-artikelh2{
padding: 0px 0px 0px 15px;
margin-top: -20px;


}

#site-footer{
  background-color: #d3dae5;
  grid-area: f;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
