body{
  background-color:#F5F5F5;
}
figure p{
  font-family:Arial, sans-serif;
  font-style:italic;
}
.donutpicture{
  width:15em;
  height:12em;
}
.responsive{
  max-width:100% !important;
  height:auto !important;
}
#photo{
  border:2px;
  box-shadow: 2px 6px;
}
