
/* Start grid */
.site-wrapper{
  display: grid;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 200px;
  grid-template-rows: 90px auto 50px 1fr 45px;
  grid-template-areas:
  "h n n n"
  "hb hb hb hb"
  "ln ln ln ln"
  "c c c s"
  "f f f f";
}
/* End grid */

/* Mobile screen grid settings */
@media screen and (max-width: 600px) {
  .site-wrapper{
    grid-template-columns: 100%;
    grid-template-rows: 80px 100px auto auto auto auto 60px;
    grid-template-areas:
    "h"
    "n"
    "hb"
    "ln"
    "c"
    "s"
    "f";
  }
  .site-localnav ul > li{
    margin: 0 0 0 5px;

  }
}
/* End of mobile grid settings */


#link-activeid a{
  color: #9f8d68;
}

.effect-picture{
  filter: blur(3px) contrast(140%) brightness(1.3);
  transform: scale(1.02);
}

.site-text{
  position: relative;
  color: white;
  text-align: center;
}

.site-textoverlay{
  border: 5px solid white;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 5.9vw;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.site-huvudbildcenter img{
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 400px;
}

.site-huvudbildgrid{
  grid-area: hb;
}

.overflow-hidden{
  overflow: hidden;
}

.site-localnav{
  color: white;
  grid-area: ln;
  background-color: #424242;
}

.site-localnav li{
  display: inline;
  margin: 0px 30px 0px 30px;
}

.site-localnav ul{
  text-align: center;
  padding: 0 0 0 0;
  color: #fff;
}

.site-localnav a{
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 3px;
  padding
}

.site-localnav a:hover{
  color: #827c6f;
}
